{% extends 'admin/layout.html.twig' %}

{% block title %}Project {{ project.title }}{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Project {{ project.title }}</h1>
        <a class="button" href="/admin/projects/edit/{{ project.id }}">Edit</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <h5>{{ project.title }}[{{ project.id }}]</h5>
                <p>{{ project.text | raw }}</p>
            </div>
            <hr>
        </div>
    </div>
{% endblock %}